/* Emile Datrier Maxime Dumonteil */

body{
    background-image: url(image/background.jpeg);
    margin-top: 0px ;
    
}
.princip{

    background-color: brown;
}
.totem{
width: width/4;
height: height/4;
float: top;

}
.principal{

    width: 850px;
    background-color: black;
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.banniere {
    
}
/*
#banniereG {
    border-width: 3px;
    background-color: aqua;
    border-color: black;
    position: relative;
    margin-right: auto;
}

#banniereD{
    border-width: 3px;
    border-color: black;
    background-color: aqua;
    position: relative;
    margin-left: auto;
}*/ 

.en-tete {
    /*
    position: relative;
    margin-left: auto;
    margin-right: auto; */
    
}
.regle {
    display : inline-block ;
    border-width: 3px;
    border : solid;
    /*position: relative;
    margin-left: auto;
    margin-right: auto; 
    */
}

.canvas{
    width: 800px;
    height: 600px;
    margin : 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* comme ça on le remarque */
    background-color: pink;

}


.principal {
    /*
    position: relative;
    margin-left: auto;
    margin-right: auto;
    */
    text-align: center;
}